black==19.3b0
Django>=2.2,<3.0
django_forms_bootstrap
dj_static
django-oauth-toolkit
django-cors-headers==3.1.0
django-allauth
django-compressor
djangorestframework
djangorestframework-simplejwt
djoser
docker-py
dockerpty
docopt
gunicorn
psycopg2>=2.8,<2.9
PyYAML
requests
six
texttable
websocket-client
